body {
    background-color: #fbfaf9;
    font: normal 87.5%/1.4 Arial,sans-serif;
    max-width: 800px;
    margin: auto;
}

nav {
    margin-top: 1.5em;
    display: block;
}

a {
    color: #2b73b7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.left {
    display: inline-block;
    float: left;
    width: 23%;
}
.right {
    display: inline-block;
    float: right;
    width: 67%;
    background-color: #ffffff;
    box-shadow: 0 0 0.5em #999;
    padding: 1.556em 2em 2em;
    margin-bottom: 5em;
}

h2,h3,h4,h5,h6 {
    color: rgb(53, 53, 53);
    margin: 0;
}

footer {
    text-align: center;
    opacity: 50%;
}

#left ul {
    list-style: square outside;
    margin-top: 0.3em;
    color: #999999;
}

img {
    width: 100%;
    border: 1px solid black;
}

pre {
    font: normal 87.5%/1.4 Arial,sans-serif;
    -webkit-text-size-adjust: 100%;
    margin: 0 0 1.4em 0;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New",monospace;
    font-size: 1em;
    direction: ltr;
    text-align: left;
    background-color: #fbfaf9;
    color: #333;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 0 .5em #ccc;
    padding: .7em 1em;
}

code {
    font: normal 87.5%/1.4 Arial,sans-serif;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New",monospace;
    font-size: 1em;
}